.details {
    width: 100%;
    margin-bottom: 1rem;

    summary {
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        user-select: none;
    }

    p {
        margin-bottom: 0;

        &:first-child {
            margin-top: 0;
        }
    }

    .details-body {
        padding: 1rem;
    }
}

.details-smooth[open] {

    .details-body {
        animation: $animation-smooth .8s ease-in;
    }
}

.details-content-smooth[open] {

    .details-body {
        .details-content {
            animation: $animation-smooth .8s ease-in;
        }
    }
}

.details-zoom[open] {

    .details-body {
        animation: $animation-zoom .5s ease-in;
    }
}

.details-content-zoom[open] {

    .details-body {
        .details-content {
            animation: $animation-zoom .5s ease-in;
        }
    }
}

.details-slide-up[open] {
    overflow: hidden;

    .details-body {
        animation: $animation-slide-up 1s;
    }
}

.details-content-slide-up[open] {
    overflow: hidden;

    .details-body {
        .details-content {
            animation: $animation-slide-up 1s;
        }
    }
}