.button-group-column {
    margin: 0;
    padding: 0;
    border-radius: $bttn-radius-parent;

    .button-group-item,
    .button-group-item-check,
    .button-group-item-start,
    .button-group-item-check-start {
        list-style-type: none !important;
        background-color: $white;

        &:first-child {
            border-radius: $bttn-radius-parent $bttn-radius-parent 0 0 !important;
        }

        &:last-child {
            border-radius: 0 0 $bttn-radius-parent $bttn-radius-parent !important;
        }

        #{$bttn-default} {
            width: 100%;
            margin-block: 0;
            color: $color-text-button-group !important;
            border-block-start: 0;
            border-inline-color: $border-color-default;
            border-block-end-color: $border-color-default;
            border-radius: 0;
            display: flex;
            align-items: center;
            background-color: transparent !important;

            :nth-child(1n) {
                margin-inline-end: 0.625rem;
            }
        }

        &:first-child {
            #{$bttn-default} {
                border-block-start: 1px solid $border-color-default;
                border-radius: $bttn-radius-child $bttn-radius-child 0 0 !important;
            }
        }

        &:last-child {

            #{$bttn-default} {
                border-radius: 0 0 $bttn-radius-child $bttn-radius-child !important;
            }
        }

        input[type="radio"],
        input[type="checkbox"] {
            position: absolute;
            clip: rect(0, 0, 0, 0);
            overflow: hidden;
        }

        .bttn.disabled {
            background-color: $disabled-background !important;
        }
    }

    .button-group-item-check {
        padding: 0.125rem;
        background-color: $button-check;

        #{$bttn-default} {
            justify-content: center;
            border: 0;
            border-radius: $bttn-radius-child !important;
        }

        &:first-child,
        &:last-child {
            #{$bttn-default} {
                border-block-start: 0;
                border-radius: $bttn-radius-child !important;
            }
        }

        .bttn.active,
        input[type="checkbox"]:checked+label,
        input[type="radio"]:checked+label {
            color: $link-color-dark !important;
            background-color: $white !important;
        }
    }
}

.button-group-item-start,
.button-group-item-check-start {
    #{$bttn-default} {
        padding-block: 1rem;
        flex-direction: column !important;
        align-items: start !important;
        text-align: start !important;
    }
}

.button-group-column.radius-none {
    border-radius: 0 !important;

    .button-group-item {

        #{$bttn-default} {
            border-radius: 0 !important;
        }
    }
}

@each $key, $value in $buttons {

    .button-group-column {

        .button-group-item-start,
        .button-group-item-check-start,
        .button-group-item {

            .bttn-solid-#{$key}.active,
            input[type="checkbox"]:checked~.bttn-solid-#{$key},
            input[type="radio"]:checked~.bttn-solid-#{$key} {

                margin-block-start: -1px;
                color: #fff !important;
                border-inline-color: lighten($value, 5%) !important;
                border-block-start: 1px solid lighten($value, 7%) !important;
                border-block-end: 1px solid lighten($value, 5%) !important;
                background-color: $value !important;
            }

            &:first-child {

                .bttn-solid-#{$key}.active,
                input[type="checkbox"]:checked~.bttn-solid-#{$key},
                input[type="radio"]:checked~.bttn-solid-#{$key} {

                    margin-block-start: 0;
                    border-block-start-color: lighten($value, 5%) !important;
                    border-block-end: 1px solid lighten($value, 5%) !important;
                }
            }
        }
    }
}

@each $key, $value in $buttons-default {

    $text-color: map-get($buttons-default-text, $key);
    $darkened-border-color: darken($value, 20%);

    .button-group-column {

        .button-group-item-start,
        .button-group-item-check-start,
        .button-group-item {

            .bttn-#{$key}.active,
            input[type="checkbox"]:checked~.bttn-#{$key},
            input[type="radio"]:checked~.bttn-#{$key} {

                margin-block-start: -1px;
                color: $text-color !important;
                border-inline-color: $darkened-border-color !important;
                border-block: 1px solid $darkened-border-color !important;
                background-color: $value !important;
            }

            &:first-child {

                .bttn-#{$key}.active,
                input[type="checkbox"]:checked~.bttn-#{$key},
                input[type="radio"]:checked~.bttn-#{$key} {

                    margin-block-start: 0;
                    border-block-start-color: $darkened-border-color !important;
                    border-block-end: 1px solid $darkened-border-color !important;
                }
            }
        }
    }
}

// Ajustes

.button-group-column {

    .button-group-item-start,
    .button-group-item-check-start,
    .button-group-item,
    .button-group-item-check {

        input[type="radio"]:focus-visible+label,
        input[type="checkbox"]:focus-visible+label {
            outline: 1px solid $border-focus;
        }
    }
}