#{$bttn-default} {
  display: inline-block;
  padding: $bttn-Y-padding $bttn-X-padding;
  line-height: $bttn-line-height;

  @include breakpoint-max(tab) {
    line-height: 1.6;
  }

  margin: $bttn-Y-margin $bttn-X-margin;
  color: inherit;
  font-weight: 400;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: $bttn-radius-child;
  box-sizing: border-box;
  vertical-align: baseline;
}

.bttn-md {
  padding: $bttn-md-Y-padding $bttn-md-X-padding !important;
  font-size: 0.875rem;
}

.bttn-sm {
  padding: $bttn-sm-Y-padding $bttn-sm-X-padding !important;
  font-size: 0.8125em;
  line-height: 0.9375em;
  border-radius: 0.1875rem;
}

.bttn-color {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

// Buttons solid and outline colors.

@each $key, $value in $buttons {

  .bttn-solid-#{$key} {
    @include button-solid($value);
  }

  .bttn-brd-#{$key} {
    @include button-outline($value);
  }
}

.bttn-solid-light {
  color: $dark !important;
  border-color: darken(#f6f7fa, 1%);
  background-color: $light-color;

  &:hover {
    background-color: rgb(240, 243, 247) !important;
  }
}

// Focusable colors.

[class*="bttn-"],
[class*="bttn disabled"],
[class*="bttn-notice-"],
input[type="submit"] {
  &:focus-visible {
    outline: none;
    border-color: transparent !important;
    position: relative;
  }
}

#{$bttn-focus-light} {
  &:focus-visible {
    box-shadow: $focus-form-bxsh-offset rgba(#c2c2c2, .8) !important;
  }
}

// Disabled class

.bttn:disabled,
.disabled {
  @include disabled-item;

  &:focus-visible {
    box-shadow: $focus-form-bxsh-offset rgba(#b3b3b3, .5) !important;
  }

  &:hover {
    background-color: transparent !important;
  }
}

// Buttons lighter colors

@each $key, $value in $buttons-default {

  .bttn-#{$key} {

    color: map-get($buttons-default-text, $key) !important;
    background-color: $value !important;

    &:focus-visible {
      box-shadow: $focus-form-bxsh-offset map-get($buttons-default-focus, $key) !important;
    }

    &:hover {
      background-color: map-get($buttons-default-hover, $key) !important;
    }
  }
}

// Link style and combined use with buttons

.bttn.link-style,
.link-style {
  color: $link-color-dark !important;
  text-decoration: underline !important;
}

.bttn.link-style-hover,
.link-style-hover {
  color: $link-color-dark !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

.bttn.link-style-opacity,
.link-style-opacity {
  opacity: 1 !important;
  color: $link-color-dark !important;
  text-decoration: none !important;

  &:hover {
    opacity: .7 !important;
  }
}

.bttn.link-disabled,
.link-disabled {
  @include disabled-item;
  background-color: transparent !important;
}

.bttn.link-disabled {
  text-decoration: underline !important;
}

.bttn.link-light,
.link-light {
  color: $link-color-light !important;
}

// Link style group

.link-style-opacity-group {
  [href] {
    opacity: 1 !important;
    color: $link-color-dark !important;
    text-decoration: none !important;

    &:hover {
      opacity: .7 !important;
    }
  }
}


// Button navbar menu and lines.

.bttn-menu {
  width: 40px;
  padding: .25rem;
  border-radius: $bttn-radius-child;
  vertical-align: sub;

  .line {
    width: 100%;
    height: 1px;
    background-color: #778088;
    display: block;
    margin: .4375rem auto;
    border-radius: .625rem;
    transition: width .3s;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.bttn-menu-white {
  &>.line {
    background-color: $white;
  }
}

.bttn-menu-black {
  &>.line {
    background-color: $black-bunker;
  }
}

// Button navbar menu, lines activation.

.bttn-menu-active .line:nth-child(1) {
  width: 15px;
}

.bttn-menu-active .line:nth-child(3) {
  width: 15px;
}

// Controls slide gallery

.control-box-next,
.control-box-prev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 999;
  color: #fff;
}

.control-box-next {
  right: 0;

  .control-next {
    border-radius: 5px 0 0 5px;
  }
}

.control-box-prev {
  left: 0;

  .control-prev {
    border-radius: 0 5px 5px 0;
  }
}

.control-next,
.control-prev {
  width: 100%;
  height: 70px;
  padding: 0 .25rem;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(7px);
}