// Background colors, and text color white.

@each $key, $value in $full-colors {

    $bg-class: unquote(".bg-#{$key}");

    #{$bg-class} {

        @if str-index($bg-class, "bg-dark-") != null {

            color: #fff;

        } @else {

            color: map-get($text-background-colors, $key) !important;
        }

        background-color: $value !important;
    }
}

// Bakground transparent.

.bg-tt {
    background-color: transparent !important;
}
