// Dropdown class properties.

.dropdown {
    position: relative;

    .dropdown-content {
        min-width: 200px;
        padding-block: .5rem;
        margin: 0;
        color: $color-global-text;
        white-space: wrap;
        position: absolute;
        z-index: 1020;
        box-sizing: border-box;
        background-color: #fff;
        display: none;
        @include box-shadow(rgba(0, 0, 0, .1));
        border-radius: $bttn-radius-child;

        .dropdown-item {
            width: 100%;
            padding-block: 0.375rem;
            margin: 0;
            text-align: left;
        }

        // dropdown-content (submenu-content) child
        .dropdown-content {
            min-width: 0;
            padding-block: 0;
            border-radius: 0;
        }
    }

    .submenu-content {
        position: relative;
        border: 0;
        display: none;
        box-shadow: none;
    }
}

//Drop-down hover

.dropdown-hover {
    .dropdown-item {
        @include hover-item($hover-item);
    }
}

//Drop-down opacity

.dropdown-opacity {
    .dropdown-item {
        @include hover-opacity(.7);
    }
}

// Full width

.dropdown-full {
    width: 100%;
    @include dropdown-full-width;
}

// Full width breakpoints

@include breakpoint-max(tab) {
    .tab-dropdown-full {
        width: 100%;
        @include dropdown-full-width;
    }

    .dropdown-mobile-collapse {
        .dropdown-content {
            position: relative;
            box-shadow: none;
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }
}

@include breakpoint-max(pha) {
    .pha-dropdown-full {
        width: 100%;
        @include dropdown-full-width;
    }
}

@include breakpoint-max(pho) {
    .pho-dropdown-full {
        width: 100%;
        @include dropdown-full-width;
    }
}

// Menu in block

.dropdown-collapse {
    .dropdown-content {
        min-width: 100%;
        white-space: normal;
        position: relative;
        box-shadow: none;
    }
}

// Menu in block breakpoints

@include breakpoint-max(pho) {
    .pho-dropdown-collapse {
        .dropdown-content {
            @include dropdown-breakpoint;
        }
    }
}

@include breakpoint-max(pha) {
    .pha-dropdown-collapse {
        .dropdown-content {
            @include dropdown-breakpoint;
        }
    }
}

@include breakpoint-max(tab) {
    .tab-dropdown-collapse {
        .dropdown-content {
            @include dropdown-breakpoint;
        }
    }
}

// Setting for others uses

.navbar {
    .dropdown-content {
        .dropdown-item {
            padding-left: 1rem;
        }
    }
}

//Ajustes hover sobre fondo de color

.dropdown-hover.bg-dark,
.dropdown-hover.bg-bunker {
    .dropdown-item {
        @include hover-item($black-tuna);
    }
}


.dropdown-hover.bg-tuna,
.dropdown-hover.bg-charade{
    .dropdown-item {
        @include hover-item($dark);
    }
}
