.form {
    user-select: none;
    position: relative;

    .form-elements {
        padding: .25rem .5rem .5rem .5rem;
    }

    #{$form-item-label} {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    #{$form-item-field} {
        width: 100%;
        height: 2.5rem;
        padding: $bttn-Y-padding $bttn-X-padding;
        margin: 2px $field-X-margin;
        border: 1px solid $grey;
        border-radius: $bttn-radius;
        box-sizing: border-box;
        background-color: #fff;
        font-size: 1rem;

        @include breakpoint-max(tab) {
            height: 3rem;
        }

        &::placeholder {
            color: var(--placeholder);
            opacity: 1;
        }
    }

    input[type="submit"], input[type="reset"] {
        height: auto;
    }

    input[type="file"] {
        padding: 0;

        &::file-selector-button {
            height: 100%;
            margin-inline-end: 1.2rem;
            padding-inline: .65rem;
            font-size: 14px;
            color: var(--color-file-selector-button);
            border: none;
            border-start-start-radius: $bttn-radius !important;
            border-start-end-radius: 0 !important;
            border-end-end-radius: 0 !important;
            border-inline-end: 1px solid $grey !important;
            background-color: $light;
        }
    }

    // File class / custom

    .field-file {
        padding: 0;

        &::file-selector-button {
            width: 50px !important;
            height: 100% !important;
            margin-inline-end: 1.2rem !important;
            border: none !important;
            border-start-start-radius: $bttn-radius !important;
            border-inline-end: 1px solid $grey !important;
            color: rgba(0,0,0,0) !important;
            background-color: transparent !important;
            background-repeat: no-repeat;
            background-position: left 1rem center;
            background-size: 1rem;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"%3E%3Cpath fill="%23838e95" opacity=".8" d="M19.31 12.051c.381 0 .69.314.69.7v4.918c-.006.67-.127 1.2-.399 1.594c-.328.476-.908.692-1.747.737l-15.903-.002c-.646-.046-1.168-.302-1.507-.777c-.302-.423-.446-.95-.444-1.558V12.75c0-.386.309-.7.69-.7c.38 0 .688.314.688.7v4.913c0 .333.065.572.182.736c.081.114.224.184.44.201l15.817.001c.42-.023.627-.1.655-.14c.084-.123.146-.393.15-.8V12.75c0-.386.308-.7.689-.7ZM9.99 0c.224 0 .423.108.549.276l4.281 4.308c.27.272.272.715.004.99a.682.682 0 0 1-.974.003l-3.171-3.189v9.643c0 .387-.308.7-.689.7a.694.694 0 0 1-.69-.7V2.383L6.172 5.574a.682.682 0 0 1-.89.076l-.085-.074a.707.707 0 0 1-.002-.989L9.49.207a.682.682 0 0 1 .404-.202h.011A.462.462 0 0 1 9.977 0h.013Z"%2F%3E%3C%2Fsvg%3E');
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: auto !important;
        height: auto !important;
        margin: 0.5rem 0;
        vertical-align: baseline;
    }

    input[type="color"] {
        width: 40px;
        padding: 2px;
        border: 0;
        background-color: transparent;
    }

    textarea {
        min-height: 200px;
        padding: 0.65rem;
        resize: vertical;
    }

    select {
        padding-left: 1rem;
        padding-right: 27px;
        text-overflow: ellipsis;
        appearance: auto;

        &::-ms-expand {
            display: none;
        }
    }

    // Select class / custom

    .field-select {
        padding-right: 2.5rem;
        text-overflow: ellipsis;
        appearance: none;
    
        &::-ms-expand {
            display: none;
        }
    
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1rem;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' preserveAspectRatio='xMidYMid meet' viewBox='0 0 1024 1024'%3e%3cpath fill='%23838e95' d='M831.872 340.864L512 652.672L192.128 340.864a30.592 30.592 0 0 0-42.752 0a29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728a30.592 30.592 0 0 0-42.752 0z'%3e%3c/path%3e%3c/svg%3e");
    }
    
    button,
    input[type="submit"],
    input[type="reset"] {
        width: auto;
        border-color: transparent;
    }

    .form-item-message {
        font-size: 90%;
        color: #6a8295;
    }

    :focus{
        @include focus-style;
    }

    .disabled,
    :disabled {
        @include disabled-item(#b3b3b3);
    }

        // delete "apperance" property in default tags 

        input[type="text"], input[type="email"], input[type="file"], input[type="password"], input[type="tel"], 
        input[type="url"], input[type="search"], textarea  {
            appearance: none;
        }
    
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button {
            display: none;
        }
    
        [class*="field-icon-"] {
            appearance: none;
            padding-inline-start: 2.7rem !important;
    
            &::-webkit-calendar-picker-indicator {
                background: none;
            }
    
            background-repeat: no-repeat;
            background-position: left 1rem center;
            background-size: 1rem;
        }

        .field-icon-date {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" opacity=".8" d="M1280 768h-128v128h128V768zm-384 768H768v128h128v-128zM512 768H384v128h128V768zm384 0H768v128h128V768zm384 256h-128v128h128v-128zm384 0h-128v128h128v-128zm-1152 0H384v128h128v-128zm384 0H768v128h128v-128zm384 256h-128v128h128v-128zm384 0h-128v128h128v-128zm-1152 0H384v128h128v-128zm384 0H768v128h128v-128zm384 256h-128v128h128v-128zm384 0h-128v128h128v-128zM0 128v1792h2048V128h-384V0h-128v128H512V0H384v128H0zm1920 128v256H128V256h256v128h128V256h1024v128h128V256h256zM128 1792V640h1792v1152H128z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-time {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" opacity=".8" d="M1408 1152v128H896V640h128v512h384zm240-1024q83 0 156 31t127 86t85 127t32 156q0 50-12 97t-35 91t-56 80t-74 64q25 71 37 144t12 148q0 162-56 313t-163 274l200 200l-90 90l-200-200q-122 106-273 162t-314 57q-162 0-313-56t-274-163l-200 200l-90-90l200-200q-106-122-162-273t-57-314q0-75 12-148t37-144q-41-27-74-64t-56-80t-35-90t-12-98q0-83 31-156t86-127t127-85t156-32q49 0 97 12t91 35t80 56t64 74q71-25 144-37t148-12q75 0 148 12t144 37q27-41 64-74t80-56t90-35t98-12zM400 256q-56 0-105 21t-87 59t-58 86t-22 106q0 62 26 117t75 94q64-124 161-221t221-161q-38-48-93-74t-118-27zm624 1664q159 0 298-60t244-165t165-244t61-299q0-159-60-298t-165-244t-244-165t-299-61q-159 0-298 60T482 609T317 853t-61 299q0 159 60 298t165 244t244 165t299 61zm795-1181q48-38 74-93t27-118q0-56-21-105t-59-87t-86-58t-106-22q-62 0-117 26t-94 75q124 64 221 161t161 221z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-month {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" opacity=".8" d="m2031 1537l-266 197l102 313l-267-193l-266 194l101-314l-266-197h335l97-310l95 310h335zm17-1409v1249h-128V640H128v1152h1116l4 3l-41 125H0V128h384V0h128v128h1024V0h128v128h384zm-128 384V256h-256v128h-128V256H512v128H384V256H128v256h1792z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-week {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" opacity=".8" d="M1664 128h384v1792H0V128h384V0h128v128h1024V0h128v128zM384 256H128v256h1792V256h-256v128h-128V256H512v128H384V256zM128 1792h1792V640H128v1152zm256-768V896h1280v128H384zm0 384v-128h1280v128H384z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-datetime-local {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" opacity=".8" d="M1664 128h384v1792H0V128h384V0h128v128h1024V0h128v128zm256 1664V640H128v1152h1792zm0-1280V256h-256v128h-128V256H512v128H384V256H128v256h1792zm-256 512v640H384v-640h1280zm-128 512v-384H512v384h1024zm128-768v128H384V768h1280z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-email {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" d="M1024 0q141 0 272 36t245 103t207 160t160 208t103 245t37 272q0 55-10 114t-32 117t-53 108t-74 89t-97 61t-118 23q-54 0-105-14t-96-42t-80-66t-61-88q-30 47-69 85t-85 67t-98 43t-110 15q-102 0-185-44t-141-117t-90-164t-32-187q0-95 31-187t90-164t142-116t185-45q95 0 176 41t144 112V512h128v640q0 53 20 99t55 82t81 55t100 20q44 0 80-18t65-49t50-70t34-83t20-85t7-79q0-123-32-237t-90-214t-141-182t-181-140t-214-91t-238-32q-123 0-237 32t-214 90t-182 141t-140 181t-91 214t-32 238q0 123 32 237t90 214t141 182t181 140t214 91t238 32q178 0 343-68l49 118q-94 39-192 58t-200 20q-141 0-272-36t-245-103t-207-160t-160-208t-103-244t-37-273q0-141 36-272t103-245t160-207t208-160T751 37t273-37zm-64 1408q75 0 134-34t101-90t63-123t22-137q0-68-22-136t-63-124t-100-89t-135-35q-75 0-134 34t-101 90t-63 123t-22 137q0 68 22 136t63 124t100 89t135 35z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-tel {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" d="M1607 1213q44 0 84 16t72 48l220 220q31 31 47 71t17 85q0 44-16 84t-48 72l-14 14q-54 54-99 96t-94 70t-109 44t-143 15q-125 0-257-39t-262-108t-256-164t-237-207t-206-238t-162-256T38 775T0 523q0-83 14-142t43-108t70-93t96-99l16-16q31-31 71-48t85-17q44 0 84 17t72 48l220 220q31 31 47 71t17 85q0 44-15 78t-37 63t-48 51t-49 45t-37 44t-15 49q0 38 27 65l551 551q27 27 65 27q26 0 48-15t45-37t45-48t51-49t62-37t79-15zm-83 707q72 0 120-13t88-39t76-64t85-86q27-27 27-65q0-18-14-42t-38-52t-51-55t-56-54t-51-47t-37-35q-27-27-66-27q-26 0-48 15t-44 37t-45 48t-52 49t-62 37t-79 15q-44 0-84-16t-72-48L570 927q-31-31-47-71t-17-85q0-44 15-78t37-63t48-51t49-46t37-44t15-48q0-39-27-66q-13-13-34-36t-47-51t-54-56t-56-52t-51-37t-43-15q-38 0-65 27l-85 85q-37 37-64 76t-40 87t-14 120q0 112 36 231t101 238t153 234t192 219t219 190t234 150t236 99t226 36z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-url {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" d="M1536 768v128q76 0 145 17t123 56t84 99t32 148q0 66-25 124t-69 101t-102 69t-124 26h-512q-66 0-124-25t-101-69t-69-102t-26-124q0-87 31-147t85-99t122-56t146-18V768h-64q-93 0-174 35t-142 96t-96 142t-36 175q0 93 35 174t96 142t142 96t175 36h512q93 0 174-35t142-96t96-142t36-175q0-93-35-174t-96-142t-142-96t-175-36h-64zm-640 512v-128q76 0 145-17t123-56t84-99t32-148q0-66-25-124t-69-101t-102-69t-124-26H448q-66 0-124 25t-101 69t-69 102t-26 124q0 87 31 147t85 99t122 56t146 18v128h-64q-93 0-174-35t-142-96t-96-142T0 832q0-93 35-174t96-142t142-96t175-36h512q93 0 174 35t142 96t96 142t36 175q0 93-35 174t-96 142t-142 96t-175 36h-64z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-search {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"%3E%3Cpath fill="%23838e95" d="M8.195 0c4.527 0 8.196 3.62 8.196 8.084a7.989 7.989 0 0 1-1.977 5.267l5.388 5.473a.686.686 0 0 1-.015.98a.71.71 0 0 1-.993-.014l-5.383-5.47a8.23 8.23 0 0 1-5.216 1.849C3.67 16.169 0 12.549 0 8.084C0 3.62 3.67 0 8.195 0Zm0 1.386c-3.75 0-6.79 2.999-6.79 6.698c0 3.7 3.04 6.699 6.79 6.699s6.791-3 6.791-6.699c0-3.7-3.04-6.698-6.79-6.698Z"%2F%3E%3C%2Fsvg%3E');
        }
    
        .field-icon-user {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"%3E%3Cpath fill="%23838e95" d="M9.993 10.573a4.5 4.5 0 1 0 0-9a4.5 4.5 0 0 0 0 9ZM10 0a6 6 0 0 1 3.04 11.174c3.688 1.11 6.458 4.218 6.955 8.078c.047.367-.226.7-.61.745c-.383.045-.733-.215-.78-.582c-.54-4.19-4.169-7.345-8.57-7.345c-4.425 0-8.101 3.161-8.64 7.345c-.047.367-.397.627-.78.582c-.384-.045-.657-.378-.61-.745c.496-3.844 3.281-6.948 6.975-8.068A6 6 0 0 1 10 0Z"%2F%3E%3C%2Fsvg%3E');
        }
    
        
        .field-icon-pwd {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 2048 2048"%3E%3Cpath fill="%23838e95" d="M0 256h2048v1408H0V256zm1920 1280V384H128v1152h1792zM512 1120q-33 0-62-12t-51-35t-34-51t-13-62q0-33 12-62t35-51t51-34t62-13q33 0 62 12t51 35t34 51t13 62q0 33-12 62t-35 51t-51 34t-62 13zm512 0q-33 0-62-12t-51-35t-34-51t-13-62q0-33 12-62t35-51t51-34t62-13q33 0 62 12t51 35t34 51t13 62q0 33-12 62t-35 51t-51 34t-62 13zm512 0q-33 0-62-12t-51-35t-34-51t-13-62q0-33 12-62t35-51t51-34t62-13q33 0 62 12t51 35t34 51t13 62q0 33-12 62t-35 51t-51 34t-62 13z"%2F%3E%3C%2Fsvg%3E');
        }

}// end form class

// Form placeholder

.form-placeholder {
    ::placeholder, .placeholder {
        color: var(--placeholder);
        opacity: 1;
    }
}

// form uppercase properties.

.form-uppercase {
    #{$form-item-label}, 
    input[type="file"],
    select,
    ::placeholder {
        text-transform: uppercase;
        font-size: $font-size-h5;
    }
}

// form navbar

.form-navbar, .form-inline {

    .form-elements {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0;
    }

    #{$form-item-field} {
        margin: 0;
    }

    .bttn {
        padding-block: .4875rem;
        margin: 0;
    }

    @include breakpoint-max(tab) {
        .bttn {
            padding: 0.75rem $bttn-X-padding; 
        }
    } 
}
