.msg-basic, 
.msg {
    padding: 1rem;
    border-radius: $bttn-radius;
    box-sizing: border-box;
    user-select: none;

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    hr {
        height: 0;
        border: 0;
        border-top: 1px solid;
    }

    .msg-icon-close {
        float: right;
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 20px;
        opacity: .7;
        text-decoration: none;
        transition: opacity .3s;

        &:hover {
            opacity: 1;
        }
    }

    [href] {
        opacity: .8;
        text-decoration: underline;
        transition: opacity var(--transition-default);

        &:hover {
            opacity: 1;
        }
    }
}


// Style basic msg

.msg-basic {
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 0 !important;
    border-radius: 0;
}

.msg-info {
    color: var(--font-lighter-primary);
    border: 1px solid var(--border-lighter-primary);
    background-color: var(--bg-lighter-primary);
}

.msg-success {
    color: var(--font-lighter-positive);
    border: 1px solid var(--border-lighter-positive);
    background-color: var(--bg-lighter-positive);
}

.msg-warning {
    color: var(--font-lighter-warning);
    border: 1px solid var(--border-lighter-warning);
    background-color: var(--bg-lighter-warning);
}

.msg-error {
    color: var(--font-lighter-negative);
    border: 1px solid var(--border-lighter-negative);
    background-color: var(--bg-lighter-negative);
}

.msg-light {
    color: var(--font-lighter-light);
    border: 1px solid var(--border-lighter-light);
    background-color: var(--bg-lighter-light);
}

.msg-black {
    color: var(--font-lighter-black);
    border: 1px solid var(--border-lighter-black);
    background-color: var(--bg-lighter-black);
}
