.table, .table-basic, .table-striped, .table-light, .table-dark, .table-full-brd {
    width: 100%;
    border-collapse: collapse;
    color: inherit;
    font-size: 15px;
    text-align: left;
    border-spacing: 1px;
    background-color: $white;

    caption {
        text-align: left;
        padding: .5rem 0;
    }

    th, td {
        padding: .5rem 1rem;
    }

    th {
        font-weight: 500;
    }

    tbody {
        th {
            vertical-align: top;
        }
    }

    .bttn {
        padding: $bttn-md-Y-padding $bttn-X-padding;
        font-size: 13px;
        line-height: normal;
    }
}

// Border for table rows

.table-basic, .table-light, .table-dark {
    tbody {
    
        tr {
            border-bottom: 1px solid $border-color-default;
        }
    }
}

// Table basic style

.table-basic {
    thead {
        border-bottom: 1px solid $dark;
    }
}

// Light style

.table-light {

    thead {
        background-color: $light-color;
    }

    tbody {

        th {
            background-color: $cloud;
        }
    }
}

// Dark style

.table-dark {

    thead {
        color: $mist;
        background-color: $dark;
    }

    tbody {

        th {
            color: $mist;
            background-color: #546878;
        }
    }
}

// Generate border full 
 
.table-full-brd {
    border: 1px solid $border-color-default !important;

    td, th {
        border: 1px solid $border-color-default !important;
    }
}

// Highlight a row with a highlight color

.table-mark {
    @include table-mark(#167db1);
}

// Table responsive

.container-table-responsive {
    overflow-x: auto;
}

@include breakpoint-max(tab) {
    .container-table-responsive {
        @include scrollbar-hidden;
    }
}

// White-space property table

.table-thead-nowrap {
    th {
        white-space: nowrap;
    }
}

.table-tbody-nowrap {
    td {
        white-space: nowrap;
    }
}

// Table actions

.table-actions {
    @include table-actions-align-x(center);
}

.table-actions-left {
    @include table-actions-align-x(left);
}

.table-actions-right {
    @include table-actions-align-x(right);
}

// Table data multimedia

.multimedia-td-sm {
    max-width: 60px;
    max-height: 80px;
}

.multimedia-td-md {
    max-width: 70px;
    max-height: 90px;
}

// Table striped

.table-striped {
    thead {
        border-bottom: 1px solid $grey;
    }
    tbody {
        tr:nth-child(even) {
            background-color: #f6f7fa;
        }
    }
}
